<div id="loginPage">
</div>

<div class="loginWrapper">
  <div id="loginMenu">

      <h3>Socrates Login</h3>
      <div id="socratesLogo"></div>

    <div id="loginForm">

      <%= form_for(:session, url: login_path) do |f|%>

      <div class="inputs">
        <%= f.text_field :email, placeholder: "Email" %>
      </div>

      <div class="inputs">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div class="submit">
        <%= f.submit "Login" %>
      </div>

    <% end %>
    </div>

  </div>
</div>


