

<div class="loginWrapper">
  
  <div class='hero cf'>
    <div id="loginMenu">

      <h3>Socrates Login</h3>
      <div id="socratesLogo"></div>

    <div id="loginForm">
      <a id="login" href="/auth/dbc">Login</a>
    </div>
   </div>

</div>

