html {
  height: 100%;
}

body{
  background-color: white;
  height: 100%;
}


h1{
  font-size: 3em;
  color: black;
}

h2{
  font-size: 2em;
  color: black;

}

h3{
  font-size: 1.5em;
  color: black;

}

p{
  color: black;
}

.loginWrapper {
  display: block;
  position: fixed;
  top: 100px;
}

#loginPage {
  top: 50px;
  background-image: url('/blueFrontDoor.jpg');
  width: 100%;
  height: 100%;
/*  max-height: 768px;
  max-width: 1152px;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
}

#loginMenu{
  position: fixed;
  width: 300px;
  height: 150px;
  left: 20px;
  background-color: white;

  border-radius: 5px;
  color: black;
  /*text-align: center;*/
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  font-family: "Lucidia Sans Unicode", "Lucidia Grande", sans-serif;
}

#loginMenu h3 {
  margin-left: -10px;
  padding-left:20px;
  padding-right:20px;
  display: inline-block;
}

#socratesLogo {
  background-image: url('/socrates_on_white.gif');
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  float: right;
}

.inputs input{
/*  margin: 10px 10px 10px 10px;*/
  display: block;
  position: inherit;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 1.0;
  width: 200px;
  height: 22px;
  border-radius: 3px;
  opacity: 1.0;
  padding-left: 4px;
  font-size: 12px;
}

.submit input{
/*  margin: 10px 10px 10px 10px;*/
  display: block;
  position: inherit;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 1.0;
  width: 60px;
  height: 35px;
  background-color: #004CBF;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 15px;
}

nav {
  background-color: #004cbf;
  height: 50px;
  position: fixed;
  top: 0px;
  color: white;
  width: 100%;
  margin: auto;
}

nav #logo{
  height: 80px;
  width: 80px;
  background-image: url('/dbcHousingLogo.png');
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  position: fixed;

}

nav h2 {
  display: inline-block;
  font-size: 1.5em;
  padding: 15px 0;
  margin-left: 100px;
  color: white;
  font-family: "Lucidia Sans Unicode", "Lucidia Grande", sans-serif;
}

nav .login {
  font-family: "Lucidia Sans Unicode", "Lucidia Grande", sans-serif;
  float: right;
  padding: .5em;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.mainWrapper {
  position: relative;
  padding: 0 auto;
  margin: 0 auto;
  /*margin-top: 3em;*/
  width: 100%;
  height: 100%;
  /*background-color: #6C5D53;*/
  border-radius: 5px;
  /*padding: 0px 20px 20px 20px;*/
  /*border: 1px dotted black;*/
  overflow: hidden;
}


.newLocationWrapper{
  width: 70%;
  margin: 48px auto 0 auto;
  min-height: 800px;
  position: relative;
}

.newLocationWrapper div{
  width: 50%;
  display: inline-block;
  padding: 1em 0;
}

.newLocationWrapper form{
  padding-top: 1em;
}

.newLocationWrapper div h2,h3{
  padding-bottom: .25em;
}

.newLocationWrapper input{
  display: block;
  margin-bottom: 1em;
  font-size: 1.1em;
  width: 90%;
}

.newLocationWrapper button.check{
  display: block;
  margin: 2em 0;
}

.newLocationWrapper #map-canvas{
  /*width: ;*/
  height: 400px;
  border: 1px solid black;
  position: absolute;
  top: 100px;
}

.newLocationWrapper div.yesno {
  width: 90%
}

.newLocationWrapper button{
  font-size: 1.2em;
  padding: .25em
}




.mapWrapper{
  margin-top: 48px;

  height: 100%;
  overflow: hidden;
  /*width: 95%;*/
  /*position: relative;*/
}

.mapWrapper .panel{
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;

  display: inline-block;
  background-color: #B3D1FF;
}

.mapWrapper .mapFrame{
  width: 100%;
  height: 100%;
  margin-left: 300px;
  /*position: relative;*/
/*  border: 1px solid red;*/
  /*display:inline-block;*/
}


.mapWrapper #map-canvas{
  height: 100%;
}


.mapWrapper #mapVertLeftMenu {
  margin: 10px;
  font-size: 1.5em;
  text-align: left

}

.mapWrapper #mapOptions {
  text-align: left;
  border: 2px solid white;
  border-radius: 5px;
  /*height: 780px;*/
  padding: 10px;
}

.mapWrapper #mapOptions ul li {
  padding: .25em 0;
  text-align: center;
  border-bottom: 1px white solid;
  color: white;
}

.mapWrapper #mapOptions ul li.selected {
  color: black;
}

.mapWrapper .info li{
  padding-bottom: .5em;
  min-width: 250px;
}

.mapWrapper .info .location-header{
  padding: .25em 0;
  border-bottom: 1px dashed #999;
  margin-bottom: .5em;
}
.mapWrapper .info .location-header h3{
  padding-bottom: .25em;
}

.mapWrapper .info h3{
  /*padding: .5em 0;*/
}
/*.map*/

.mapWrapper .info img{
  width: 75px;
  float: left;
  margin-right: .5em;
}

.mapWrapper .info p {
  padding-bottom: .25em;
}

.mapWrapper .info p.name{
  font-weight: 600;
}







