<div class="mapWrapper cf">

  <div class="panel">
    <div id="mapVertLeftMenu">
      <div id="mapOptions">
        Map Options
        <ul id="cohortList">
          <li class="selected">Coyotes</li>
          <li class="selected">Fireflies</li>
          <li class="selected">Nighthawks</li>
          <li class="selected">Dragonflies</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mapFrame">
    <div id="map-canvas"></div>
  </div>

</div>
