<div class="mapWrapper cf">

  <div class="panel">
    <div id="mapVertLeftMenu">
      <div id="mapOptions">
        <h3>Visible Cohorts:</h3>
        <ul id="cohortList">
          <li class="selected">Coyotes<img src="35px/coyotes.png" alt=""></li>
          <li class="selected">Fireflies<img src="35px/fireflies.png" alt=""></li>
          <li class="selected">Nighthawks<img src="35px/nighthawks.png" alt=""></li>
          <li class="selected">Dragonflies<img src="35px/dragonflies.png" alt=""></li>
          <li class="selected">Multi-Cohort<img src="35px/hackerHouse.png" alt=""></li>
          <li class="selected">Vacancies<img src="50px/white.png" alt=""></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mapFrame">
    <div id="map-canvas"></div>
  </div>

</div>
