<div class="mapWrapper cf">

  <div class="panel">
    <div id="mapVertLeftMenu">
      <div id="mapOptions">
        Map Options
      </div>
    </div>
  </div>

  <div class="mapFrame">
    <div id="map-canvas"></div>
  </div>

</div>
