<!DOCTYPE html>
<html>
<head>
  <title>DBCHousingApp</title>
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC53CaU_F5m8oKWEOdn-AYj8eoZWSYxx-s&sensor=false">
  </script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

  <nav>
    <div id="logo"></div>
    <h2>DBC Housing Hub</h2>
    <% if current_user %>
      <a class="login" href="/logout">Logout</a>
      <a class ="login" href="/">Profile</a>
    <% end %>
  </nav>
<div class="mainWrapper cf">

  <body>

  <%= yield %>

  </body>
</div>
</html>
